<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>ECommerce-MongoDb</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/fevicon.png" type="image/png" />
    <link rel="stylesheet" href="~/pluto-1.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/pluto-1.0.0/style.css" />
    <link rel="stylesheet" href="~/pluto-1.0.0/css/responsive.css" />
    <link rel="stylesheet" href="~/pluto-1.0.0/css/colors.css" />
    <link rel="stylesheet" href="~/pluto-1.0.0/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/pluto-1.0.0/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/pluto-1.0.0/css/custom.css" />
</head>
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <nav id="sidebar">
                
                <div class="sidebar_blog_2">
                    <h4>Menüler</h4>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a href="/Product/ProductList"><i class="fa fa-briefcase blue1_color"></i> <span>Ürünler</span></a>
                        </li>
                        <li> 
                            <a href="/Category/CategoryList"><i class="fa fa-bars purple_color2"></i> <span>Kategoriler</span></a>
                        </li>
                        <li>
                            <a href="/Customer/CustomerList"><i class="fa fa-users green_color"></i> <span>Müşteriler</span></a>
                        </li>
                        <li>
                            <a href="/Order/OrderList"><i class="fa fa-clone yellow_color"></i> <span>Siparişler</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="content">
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" style="margin-right:20px;" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            <h3 style="color:white;margin-top:10px; ">ECommerce - MongoDb</h3>
                        </div>
                    </nav>
                </div>
                <div class="midde_cont">
                    <div class="container-fluid mt-5">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/pluto-1.0.0/js/jquery.min.js"></script>
    <script src="~/pluto-1.0.0/js/bootstrap.min.js"></script>
    <script src="~/pluto-1.0.0/js/bootstrap-select.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <script src="~/pluto-1.0.0/js/custom.js"></script>
</body>
</html>