@model CreateOrderDto
@{
    ViewData["Title"] = "CreateOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Yeni Sipariş Oluştur</h2>
            </div>
        </div>
        <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group mb-3">
                        @Html.DropDownListFor(x => x.ProductId, (SelectList)ViewBag.products, "Ürün Seçiniz", new { @class = "form-control" })
                    </div>
                    <div class="form-group mb-3">
                        @Html.DropDownListFor(x => x.CustomerId, (SelectList)ViewBag.customers, "Müşteri Seçiniz", new { @class = "form-control" })
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" name="Amount" class="form-control" placeholder="Adet" />
                    </div>
                    <div class="form-group mb-3">

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn cur-p btn-success"><i class="fa fa-check-circle"></i> Kaydet</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>