@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Kategori Listesi</h2>
            </div>
        </div>
        <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kategori Adı</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CategoryId</td>
                                <td>@item.CategoryName</td>
                                <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn cur-p btn-danger"><i class="fa fa-trash white_color"></i></a></td>
                                <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn cur-p btn-warning"><i class="fa fa-edit white_color"></i></a></td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
                <a href="/Category/CreateCategory" class="btn cur-p btn-primary"><i class="fa fa-plus-circle blue_color"></i> Yeni Kategori Oluştur</a>
            </div>
        </div>
    </div>
</div>